main {
    width: 100%;
    .about {
        padding: 5%;
        h2 {
            color: $main-color;
            font-size: 5rem;
            margin-bottom: 5%;
        }
        p {
            font-size: 1.6rem;
            line-height: 200%;
        }
    }
}